Repository thomktz/betterave, pull requests merged in 2024-01, with the labels that each got.

#34 v3.4.0 - Grades
  .DS_Store
  backend/app/api/classes/models.py
  backend/app/api/classes/routes.py
  backend/app/api/users/models.py
  backend/app/api/users/routes.py
  backend/app/models/__init__.py
  backend/app/models/grade.py
  backend/app/operations/class_operations.py
  backend/app/operations/grade_operations.py
  backend/app/operations/student_operations.py
  backend/scripts/init_db.py
  frontend/public/photos/clothilde_voisin.jpg
  frontend/public/photos/kfet.jpg
  frontend/src/App.vue
  frontend/src/components/Chat.vue
  frontend/src/components/DarkModeToggle.vue
  frontend/src/components/GradesTableTeacher.vue
  frontend/src/components/Homework.vue
  frontend/src/components/InfoColumn.vue
  frontend/src/components/ProfilePill.vue
  frontend/src/components/UsersTable.vue
  frontend/src/router/index.js
  frontend/src/views/ClassPage.vue
  frontend/src/views/MainLayout.vue
  frontend/src/views/controls/AdminControls.vue
  frontend/src/views/controls/AssoControls.vue
  frontend/src/views/controls/StudentGrades.vue
  frontend/src/views/controls/TeacherClasses.vue
  frontend/src/views/controls/TeacherEditsGrades.vue
Labels: backend, frontend

#36 v3.4.3 - Create homework
  CHANGELOG.md
  README.md
  backend/app/api/classes/routes.py
  backend/scripts/init_db.py
  frontend/src/components/Homework.vue
  frontend/src/views/ClassPage.vue
Labels: frontend

#37 Add test
  .pre-commit-config.yaml
  CHANGELOG.md
  backend/app/api/__init__.py
  backend/app/api/auth/routes.py
  backend/app/api/class_groups/routes.py
  backend/app/api/classes/routes.py
  backend/app/api/events/models.py
  backend/app/api/events/routes.py
  backend/app/api/lessons/routes.py
  backend/app/api/user_class_groups/routes.py
  backend/app/api/users/routes.py
  backend/app/decorators.py
  backend/app/models/__init__.py
  backend/app/models/class_.py
  backend/app/models/grade.py
  backend/app/models/homework.py
  backend/app/models/lesson.py
  backend/app/models/message.py
  backend/app/models/notification.py
  backend/app/models/user.py
  backend/app/operations/asso_operations.py
  backend/app/operations/class_group_operations.py
  backend/app/operations/class_operations.py
  backend/app/operations/event_operations.py
  backend/app/operations/grade_operations.py
  backend/app/operations/homework_operations.py
  backend/app/operations/lesson_operations.py
  backend/app/operations/message_operations.py
  backend/app/operations/student_operations.py
  backend/app/operations/user_class_group_operations.py
  backend/app/operations/user_operations.py
  backend/create_app.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/scripts/init_db.py
  backend/scripts/scraping.py
  backend/tests/conftest.py
  backend/tests/test_asso_operations.py
  backend/tests/test_class_group_operations.py
  backend/tests/test_class_operations.py
  backend/tests/test_event_operations.py
  backend/tests/test_grade_operations.py
  backend/tests/test_homework_operations.py
  backend/tests/test_lesson_operations.py
  backend/tests/test_message_operations.py
  backend/tests/test_students_operations.py
  backend/tests/test_user_class_group_operations.py
  backend/tests/test_user_operations.py
Labels: backend
